table thead tr{
	color:#FFFFFF;
	background:#343F4B;
}
table tbody tr td:nth-child(4){
	color:#CF503A;
}
.rerm{
	width:100%;
	height:34px;
}
.rerm li{
	float:left;
	list-style: none;
	margin: 5px;
}
.rerm li a{
	background: #4BAED0;
}
.rerm li input{
height:30px;
}
.rerm li button{
	margin-left:5px;
	height: 30px;
	color: #FFF;
	border: none;
	background: #4BAED0;
	margin-right: 10px;
}
